<%= form_with(model: @comment, local: true) do |form| %>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  